---
---

.white-color {
    fill: white;
    padding-right: 5px;
    padding-left: 5px;
    width: 50px;
    height: 50px;
}

.profile {
   width: 400;
   max-width: 80vw;
}

.prof {
   width: 100%;
   max-width: 50vw;
   border:1px solid #3E3A9E;
}

.frame {
  display: block;
  width: 100vw;
  height: 50vw;
  max-width: 100%;
  margin: 0;
  padding: 0;
  border: 0 none;
  box-sizing: border-box;
}

.maintop {
  max-width: 45%;
  height: auto;
}

$header-bg-color: #4776E6;
$header-bg-color-secondary: #8E54E9;
$section-headings-color: #4A00E0;

$section-headings-color: #2169C8 !default;
$body-text-color: #606c71 !default;
$body-link-color: #0AB9DC !default;
$blockquote-text-color: #819198 !default;

@import 'jekyll-theme-cayman';
